body {
  margin: 0;
  overflow: hidden;
  padding: 0;
  -webkit-transition: background-color .5s;
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 25vh;
  background-color: white;
}

.sidenav a {
  padding: 28px 8px 8px 32px;
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 36px;
  color: #000000;
  display: block;
  padding-left: 100px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #ff0095;
}

.op-layer {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  display: none;
}

#wrapper {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.menu-bar {
  position: fixed;
  vertical-align: middle;
  width: 100%;
  z-index: 999;
}

.menu-title {
  padding-left: 100px;
  padding-top: 20px;
  vertical-align: middle;
  float: left;
}

.menu-title p {
  font-family: 'Stardust Adventure';
  font-size: 75px;
  margin: 0;
}

.menu-icon {
  padding-top: 50px;
  padding-right: 100px;
  float: right;
}

.bar1 {
  width: 25px;
  height: 2px;
  margin-bottom: 6px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 360px;
}

.bar2 {
  width: 15px;
  height: 2px;
  margin: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 360px;
}

.bar-black {
  background-color: #000000;
}

.bar-white {
  background-color: #ffffff;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-2px, 3px);
}

.change .bar2 {
  width: 25px;
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-2px, -4px);
}

.menu-icon:hover .bar1 {
  width: 15px;
}

.menu-icon:hover .bar2 {
  width: 25px;
}

.box {
  height: 100%;
  width: 100%;
  position: relative;
  scroll-snap-align: start;
}

.right-box {
  height: 100%;
  width: 50%;
  float: right;
}

.left-box {
  height: 100%;
  width: 50%;
  float: left;
}

.side-img {
  padding-top: 20vh;
  padding-left: 10%;
  width: 80%;
}

.home-background {
  background-image: url("../assets/images/home-background.svg");
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
}

.home-content {
  position: absolute;
  padding-top: 20%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  width: 80%;
}

.home-content h1 {
  font-family: 'La Sonnambula ffp';
  font-size: 36pt;
  margin: 0px;
  text-align: center;
}

.home-subcontent {
  font-family: 'Montserrat';
  text-align: center;
}

.home-subcontent p {
  display: inline-block;
  margin: 0px;
  vertical-align: middle;
}

.home-subcontent h3 {
  display: inline-block;
  font-size: 46pt;
  vertical-align: middle;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0px;
  -webkit-transition: -webkit-transform 3s;
  transition: -webkit-transform 3s;
  transition: transform 3s;
  transition: transform 3s, -webkit-transform 3s;
}

.home-subcontent h3:hover {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-text-stroke: 3px black;
  -webkit-text-fill-color: white;
}

.events-background {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#F65B65), color-stop(#EB5F94), to(#D866E8));
  background-image: linear-gradient(to top right, #F65B65, #EB5F94, #D866E8);
}

.birthday-events-background {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#9B44E2), to(#F25D79));
  background-image: linear-gradient(to top right, #9B44E2, #F25D79);
}

.photography-background {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#754DE9), to(#2A2AEB));
  background-image: linear-gradient(to top right, #754DE9, #2A2AEB);
}

.birthday-photography-background {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#F14C9E), to(#ED3053));
  background-image: linear-gradient(to top right, #F14C9E, #ED3053);
}

.maternity-photography-background {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#FE994D), to(#ED2F52));
  background-image: linear-gradient(to top right, #FE994D, #ED2F52);
}

.couples-photography-background {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#F87E65), to(#C9515B));
  background-image: linear-gradient(to top right, #F87E65, #C9515B);
}

.side-content {
  font-family: 'Montserrat';
  color: white;
}

.side-content h1 {
  padding-top: 30vh;
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: 36pt;
}

.side-content p {
  padding-top: 10px;
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: 18pt;
}

.home-image-mobile {
  display: none;
}

.contact-background {
  background-color: black;
  color: white;
}

.black-box-content {
  padding-top: 25vh;
  text-align: center;
}

.black-box-content h1 {
  font-family: 'Stardust Adventure';
  font-size: 128pt;
  font-weight: normal;
  padding: 0px;
  margin: 0px;
}

.black-box-content p {
  font-family: 'Montserrat';
  font-size: 16pt;
  font-weight: lighter;
}

.contact-content {
  font-family: 'Montserrat';
  padding-left: 100px;
  padding-top: 18vh;
}

.contact-content h3 {
  font-size: 18pt;
}

.contact-content p {
  padding-bottom: 50px;
  font-size: 18pt;
}

.contact-content img {
  width: 25vw;
}

@media only screen and (max-width: 768px) {
  .menu-title {
    padding-left: 30px;
    padding-top: 35px;
    vertical-align: middle;
    float: left;
  }
  .menu-title p {
    font-family: 'Stardust Adventure';
    font-size: 44px;
    margin: 0;
  }
  .menu-icon {
    padding-top: 50px;
    padding-right: 40px;
    float: right;
  }
  .home-background {
    background-image: none;
  }
  .home-content h1 {
    font-family: 'La Sonnambula ffp';
    font-size: 14pt;
    margin: 0px;
    text-align: center;
  }
  .home-subcontent p {
    display: inline-block;
    margin: 0px;
    vertical-align: middle;
    font-size: 8pt;
  }
  .home-subcontent h3 {
    display: inline-block;
    font-size: 22pt;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
    -webkit-transition: -webkit-transform 3s;
    transition: -webkit-transform 3s;
    transition: transform 3s;
    transition: transform 3s, -webkit-transform 3s;
  }
  .home-image-mobile {
    height: 70%;
    width: 100%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    display: block;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  .sidenav a {
    padding: 18px 8px 8px 32px;
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 22px;
    color: #000000;
    display: block;
    padding-right: 50px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    float: right;
  }
  .right-box {
    height: 35%;
    width: 100%;
  }
  .left-box {
    height: 65%;
    width: 100%;
  }
  .side-img {
    height: 50vh;
    width: 80vw;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-top: 10vh;
    padding-bottom: 5vh;
  }
  .side-content h1 {
    padding-top: 5vh;
    padding-left: 40px;
    font-size: 18pt;
  }
  .side-content p {
    padding-left: 40px;
    font-size: 12pt;
  }
  .contact-content {
    font-family: 'Montserrat';
    padding-top: 10vh;
    padding-left: 40px;
  }
  .contact-content h3 {
    font-size: 18pt;
  }
  .contact-content p {
    padding-bottom: 0px;
    font-size: 14pt;
  }
  .contact-content img {
    width: 50vw;
  }
}
/*# sourceMappingURL=main.css.map */